#Default HOME = C:\Windows\System32\config\systemprofile -- aws creds stored there

terraform-plan:
  stage: build
  script:
    - terraform init
    - terraform plan

terraform-apply:
  stage: deploy
  script:
    - terraform init
    - terraform apply -auto-approve
    - terraform output
    - terraform output host_id > postgres_db_host_id
    - type postgres_db_host_id
  when: manual

terraform-destroy:
  stage: deploy
  script:
    - terraform destroy -auto-approve
  when: manual